In [1]:
import pandas as pd
import numpy as np

Task 01: Your objective is to manually compute the slope (M) and y-intercept (C) using 
Ordinary Least Squares Linear Regression. Once determined, apply these values to 
predict the price when the vegetable weight is 6.

In [2]:
def mylr(x, y):
    x_mean = np.mean(x)
    y_mean = np.mean(y)
    m = np.dot(x - x_mean, y - y_mean) / np.dot(x - x_mean, x - x_mean)
    c = y_mean - m*x_mean

    return m, c

In [3]:
w = np.array([2, 4, 5, 3, 6, 5, 7])
p = np.array([35, 60, 20, 50, 50, 55, 60])
slope,intercept = mylr(w, p)
print("Slope (M): ", slope)
print("Intercept (C): ",intercept)

Slope (M):  2.620967741935484
Intercept (C):  35.16129032258065

In [4]:
df = pd.DataFrame({'Weight': w, 'Price': p})
df

   Weight  Price
0       2     35
1       4     60
2       5     20
3       3     50
4       6     50
5       5     55
6       7     60

In [5]:
def predict(w, slope, intercept):
    return slope * w + intercept
pred_prices = predict(df.Weight, slope, intercept)

df['p_prices'] = pred_prices

weight = 6
pred_price_for_6 = predict(6, slope, intercept)
pred_price_for_6

50.88709677419355

Task 02: Compute the residuals for each data point

In [6]:
df['Residuals'] = df['Price'] - pred_prices
df

   Weight  Price   p_prices  Residuals
0       2     35  40.403226  -5.403226
1       4     60  45.645161  14.354839
2       5     20  48.266129 -28.266129
3       3     50  43.024194   6.975806
4       6     50  50.887097  -0.887097
5       5     55  48.266129   6.733871
6       7     60  53.508065   6.491935

Task 03: Calculate both the Mean Squared Error (MSE) and Mean Absolute Error (MAE)

In [7]:

mse = np.mean((df['Price'] - df['p_prices']) ** 2)
mae = np.mean(df['Price'] - df['p_prices'])

print("Mean Squared Error (MSE): ", mse)
print("Mean Absolute Error (MAE): ", mae)

Mean Squared Error (MSE):  167.30990783410135
Mean Absolute Error (MAE):  -3.045183153257572e-15

Final Task:
Generate an Excel file for the given dataset. Utilize Python for all the calculations

In [8]:
df.to_excel('Aassignment_04_outputs.xlsx', index=False)